@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@model Tuple<bool,IEnumerable<CartEntry>>
@{
    bool createCheckoutButton;
    IEnumerable<CartEntry> cart;
    (createCheckoutButton, cart) = Model;
}

@if (SignInManager.IsSignedIn(User))
{
    <link rel="stylesheet" href="~/css/cart.css" />
    <h2>Carrinho</h2>

    int numberOfProducts = 0;
    Decimal totalPrice = 0;
    foreach (CartEntry entry in cart)
    {
        <div class="product">
            <img class="product-img" src="@entry.Product.ImagePath" alt="imagem do produto" width="100" />
            <p>
                @entry.Product.Name
            </p>
            <p>
                Preço unitário: R$@entry.Product.Price
            </p>
            <p>
                Quantidade: @entry.Quantity
            </p>
            <p>
                <button onclick="RemoveFromCart(@Json.Serialize(createCheckoutButton),@entry.Product.Id)">Remover</button>
            </p>
        </div>
        totalPrice += entry.Quantity * entry.Product.Price;
        numberOfProducts++;
    }
    @*Only enable Esvaziar carrinho and Finalizar compra buttons if there are items in the cart*@
    @if (numberOfProducts > 0)
    {
        <p class="total-price">
            Preço Total: R$@totalPrice
        </p>
        <p>
            <button onclick="RemoveCart()">Esvaziar carrinho</button>
        </p>

        if (createCheckoutButton)
        {
            <p>
                <form>
                    <button id="checkoutButton" type="submit" asp-controller="Home" asp-action="Checkout">Finalizar compra</button>
                </form>
            </p>
        }
    }
    else
    {
        <p>Carrinho vazio</p>
    }
}