html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* My code */

h1, h2 {
    text-align: center;
}

.search-form {
    display: flex;
    padding: 0.5rem;
}

.search-bar {
    width: 500px;
    margin: 0 0.5rem 0 0.5rem;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product {
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: center;
}

.product-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    width: 150px;
    height: 150px;
}

.product input {
    width: 80px;
}

.home-div{
    display: flex;
}

.product-search {
    margin-right: auto;
}